<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="springBean" class="com.spring.test.bean.aware.SpringBean"/>
	<bean id="springAware" class="com.spring.test.bean.aware.SpringAware"/>

	<bean id="myApplicationAware" class="com.spring.test.bean.aware.MyApplicationAware"/>

	<bean id="beanProcessor" class="com.spring.test.bean.processor.BeanProcessor"/>

</beans>
